@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*Phone layout not yet created*/

/* DON'T MIND UP TO LINE 9
@media (max-width: 650px) {
    #nav-bar {
      background: tomato;
    }
  }*/
html
{
    font-family: 'Varela Round', sans-serif /*font for the entire document*/
}
body
{
    margin: 0;
    background: linear-gradient(155deg, #ffc3f7af, #4b7ac5); /*background of the mid part*/
}
/*DON'T MIND UP TO LINE 24*/
input [type=email],
input:invalid
{
    box-shadow: 0 0 5px 1px #DE3163;
}
#header /*TOP PART*/
{
    width: 100%;
    height: 15vh;
    position: fixed;
    background: linear-gradient(155deg, #ffc3f7af, #4b7ac5);
    display: flex;
    justify-content: space-between;
}
#header-image
{
    width: 40%;   
    display: flex;
    justify-content: left;
}
#header-img /*Place for logo in top left part, red bordered box*/
{
    height: 50%;
    width: 60%; /*Width is calculeted from 50% width of entire header(100% screen size)*/ 
    margin: auto 0 auto 5vw; /*to move logo margin: top right bottom left;*/
    border: solid red 1px; /*don't delete*/
}
#nav-bar /*all text in footer is within lines 47-68*/
{
    height: 100%;
    width: 60%;
    display: flex; /*Don't change*/
    justify-content: space-evenly; /*to move text horizontally see part justify content https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    align-items: flex-end; /*to move text vertically see part align-items https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
}
#link-1, #link-2, #link-3
{
    /* to move text just a bit use margin:margin-(from where): value; recommended only for vertical movement*/
    margin-bottom: 2vh;
    color: white;
    text-decoration: none;
    width: auto;
    height: 20%;
    font-size: 1.3em;
}
#link-1:hover, #link-2:hover, #link-3:hover
{
    text-decoration: underline;
}
#main /*mid part*/
{
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30;
    grid-template-areas: 
        "video orders"
        "video email";
}
#video-div
{
    height: 91%;
    width: 90%;
    grid-area: video;
    /*margin-top: 5vh;*/
    /*border: solid white 1px;*/
    margin: 5vh auto auto auto;
}
#empty
{
    height: 25vh;
}
#empty-space {
    height: 15vh;
}
#shopping-info
{
    width: 100%;
}
#video
{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3em 0 3em 0;
/*
    background: transparent;
    margin-top: 5vh 0 0 5vw;
    border-radius: 20px;*/


    box-shadow: 10px 10px 5px #2f3e81a2;
}
#offers-div
{
    width: 90%;
    margin: 5vh auto 5vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: orders;
    /*border: solid white 1px;*/
}
.offers
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 35vh;
    background: #edd6ff7c;
    box-shadow: 7px 7px 7px #2f3e817a; 
    border-radius: 10% 0% 10% 0%;
    text-align: center;
}
#title
{
    width: 100%;
    font-weight: lighter;
    font-size: 1.9em;
}
#text
{
    width: 100%;
    font-size: 1.5em;
}
#order-button
{
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border-radius: 20%;
    border: solid transparent 1px;
    font-size: 1.3em;
    /*box-shadow: 5px 2px 10px rgba(123, 123, 196, 0.596);*/
    width: 30%;
    height: 10%;
    justify-content: center;
}

/* Dont uncomment this IT'S SHITTY ANIMATION
#order-button:hover
{
    width: 35%;
    height: 15%;
    font-size: x-large;
    margin-top: 10%;
}*/
#form
{
    width: 85%;
    /*margin-top: 8.6vh;*/
    margin-left: 3.8vw;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    grid-area: email;
    /*border: solid white 1px;*/
}
#email
{
    width: 99%;
    height: 4vh;
    border: transparent solid 1px;
    border-radius: 10px;    
    margin-left: auto;
    /*margin-top: 2vh;*/
    font-size: 0.8em;
    font-family: 'Varela Round';
    font-weight: lighter;
}
#email-label {
    margin-bottom: 1.8vh;
}
#submit-button
{
    width: 100%;
    height: 4vh;
    border-radius: 50px;
    border: transparent solid 1px;
    margin-top: 2vh;
    font-size: 0.9em;
    font-family: 'Varela Round';
}
#submit-button:hover
{
    text-decoration: underline;
}
@media screen and (max-width: 1024px) {
    #main {
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "video orders"
            "email orders";
        height: 90vh;   
    }
    #offers-div {
        flex-direction: column;
        border: solid white 1px;
    }
    .offers {
        width: 55%;
        margin: 0 auto 0 auto;
        height: 28vh;
    }
    #offer-2 {
        margin: 2vh auto 2vh auto;
    }
    #form {
        margin-top: 5vh;
        border: solid white 1px;
        width: 87%;
    }
    #video-div {
        border: solid white 1px;
    }
    #email-label {
        font-size: 0.8em;
    }
}
#footer
{
    width: 90vw;
    height: 15vh;
    margin: 0 auto 0 auto;
    padding: 0px;
    background: rgba(252, 246, 245, 0.26);
    text-align: center;
    vertical-align: middle;
}
#footer-text
{
    padding-top: 5vh;
    font-size: 1.6em;
    width: 35vw;
    margin: 5vh auto 0 auto;
    color: black;
    text-shadow:
        0 0 0.2em rgb(255, 255, 255),
        0 0 0.4em rgb(236, 243, 255),
        0 0 0.6em #ffffff,
        0 0 0.8em #ffffff,
        0 0 1em #ffffff,
        0 0 1.2em #ffffff,
        0 0 1.4em #ffffff,
        0 0 1.6em #ffffff,
        0 0 1.8em #ffffff;
}