@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --background-blue: #76d6fcad;
    --text-background: #b4f2fc81;
    margin: 0;
    padding: 0;
    color: #16161b;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
body {
    margin: 0;
    padding: 0;
    background-color: #0494fc;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-gap: 2vh;
}
header {   
    margin: 0vh 0.7vw 0.7vh 0.7vw;
    text-align: center;
    background: var(--background-blue);
    min-height: 20vh;
    height: auto;
    width: auto;
    grid-area: header;
    display: flex;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    font-size: 1.4em;
    /*box-shadow: 10px 0 20px #80bfc9af;*/
}
#title {
    /*padding-top: 5vh;*/
    margin: auto;
}
#main {
    height: auto;
    width: auto;
    margin: 0vh 0.7vw 0.7vh 0.7vw;
    background: var(--background-blue);
    grid-area: main;
}
#img-div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    background: var(--text-background);
    margin: 5vh auto 2.5vh auto;
    box-shadow: 0 10px 20px #80bfc983;
    border-radius: 2vw;
}
#image {   
    border-radius: 1vw;
    max-width: 4204px;
    max-height: 2173px;
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 3vh;
}
#img-caption {
    text-align: center;
    font-size: larger;
}
#tribute-info {
    background: var(--text-background);
    width: 90%;
    height: auto;
    box-shadow: 0 10px 20px #80bfc9af;
    margin: 2.5vh auto 5vh auto;
    border-radius: 2vw;
}
.tribute-title {
    text-align: left;
    width: 100%;
    padding-top: 4vh;
    padding-left: 4vw;
}
.tribute-text {
    line-height: 1.5em;
    font-size: larger;
    margin: 0 auto 0 auto;
    text-align: justify;
    width: 80%;
    padding: 0vh 0 5vh 0;
}

.text-link {
    width: auto;
    margin: 8vh auto 5vh auto;
    font-size: larger;
}
footer {
    min-height: 20vh;
    height: auto;
    width: auto;
    margin: 0 0.7vw 0 0.7vw;
    background: var(--background-blue);
    grid-area: footer;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    font-size: 1.2em;
    /*box-shadow: 10px 0 20px #b4f2fcaf;*/
    text-align: center;
}
h1, h2 {
    font-weight: 400;
}
@media (max-width: 480px) {
    #title {
        padding: 0;
    }
    header {
        height: 14vh;
        min-height: 0;
        font-size: 0.8em;
    }
    #image {
        width: 80%;
        height: 80%;
    }
    #img-caption {
        font-size: 1.1em;
    }
    .tribute-title {
        font-size: 1.3em;
    }
    .tribute-text {
        line-height: 1.4em;
        font-size: 1.1em;
    }
    .text-link {
        font-size: 0.9em;
        width: 90%;
    }
}