@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media screen and (max-width: 480px) {
    #survey-form {
        font-size: 55em;
        background-color: red;
    }
}
input:not(:placeholder-shown):invalid {
    box-shadow: 0 0 0px 3px rgba(255, 0, 0, 0.63);
}
input:valid {
    box-shadow: none;
}
option {
    font-family: 'Roboto', sans-serif;
}
::placeholder {
    color: rgba(1, 19, 15, 0.671);
}
:root {
    font-family: 'Roboto', sans-serif;
}
body {
    background-image: url("survey_page_background.jpg");
    background-repeat: none;
    height: 100%;
    color: rgb(219, 224, 236);
}
main {
    background: rgba(14, 53, 56, 0.952);
    border-radius: 0.4em;
    width: 70%;
    margin: auto;
    height: auto;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}
header {
    text-align: center;
}
#title {
    font-weight: 100;
    padding-top: 10vh;
    margin: 10vh 0 0.5vh 0;
    font-size: 3em;
}
#description {
    margin-top: 2vh;
    font-size: 1.5em;
}
#survey-form {
    font-size: 1.3em;
    height: auto;
    width: 90%;
    margin: 10vh auto 0 auto;
    background: rgba(17, 93, 99, 0.952);
    border-radius: 0.4em; 
}
.input-field,
.option-field,
.comment-field {
    display: flex;
    flex-direction: column;
    margin: 5vh 5vw 5vh 5vw;
}
#email-label {
    padding-top: 5vh;
}
.personal-info-label,
.label{
    margin-bottom: 0.7vh;
}
.personal-info-input, 
#dropdown,
textarea {
    margin-left: 2vw;
    background: rgb(206, 211, 206);
    width: 100%;
    height: 3vh;
    border: none;
    border-radius: 4px;
    font-family: 'Popins';
    font-size: medium;
}
.check-option,
.checkbox-div {
    margin-left: 2vw;
    font-size: 1em;
}
#radiobox-div-1,
#checkbox-div-1 {
    margin-top: 1vh;
}
#radiobox-div-2,
#checkbox-div-2,
#checkbox-div-4 {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
#comments {
    resize: none;
    height: 10vh;
    width: auto;
    margin: 1vh 0vw  5vh 2vw;
}
#submit {
    width: auto;
    min-width: 15vw;
    height: 10vh;
    font-size: medium;
    background: rgba(14, 53, 56, 0.637);
    border: 0px solid transparent;
    border-radius: 0.3em;
    font-size: 1.2em;
    color: rgb(170, 173, 180);
}
#submit:hover {
    text-decoration: underline;
}
#button {
    text-align: center;
    padding-bottom: 5vh;
}
#submit:hover,
.checkbox-option:hover,
.checkbox-label:hover,
.radiobox-input:hover,
.radiobox-label:hover,
#dropdown {
    cursor:pointer;
}