<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static 'projects/styles/tictactoe.css' %}">
  </head>
  <body>
    <h1>Tic Tac Toe</h1>
    <main>
      <p id="warning"></p>
      <table cellspacing="0">
        <tr>
          <td class="place a A" id="aA">

          </td>
          <td class="place a B" id="aB">

          </td>
          <td class="place a C" id="aC">

          </td>
        </tr>
        <tr>
          <td class="place b A" id="bA">

          </td>
          <td class="place b B" id="bB">

          </td>
          <td class="place b C" id="bC">

          </td>
        </tr>
        <tr>
          <td class="place c A" id="cA">
          
          </td>
          <td class="place c B" id="cB">

          </td>
          <td class="place c C" id="cC">

          </td>
        </tr>
      </table>
    </main>
    <footer></footer>
    <script src="{% static 'projects/script/tictactoe.js' %}"></script>
    <script>
      function checkWinPattern(arr) {
        if (arr.length > 2) {
            for (var x = 0; x < arr.length-2; x++) {
                for (var y = x+1; y < arr.length-1; y++) {
                    for (var z = y+1; z < arr.length; z++) {
                        var x1 = arr[x][0], y1 = arr[x][1];
                        var x2 = arr[y][0], y2 = arr[y][1];
                        var x3 = arr[z][0], y3 = arr[z][1];
                        if (x1+1 == x2 && x1+2 == x3 && y1 == y2 && y1 == y3) { //
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundSize = "150%"
                            warning.innerHTML = "Game won"
                            game = false
                        } else if (x1 == x2 && x1 == x3 && y1+1 == y2 && y1+2 == y3) {
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundSize = "150%"
                            warning.innerHTML = "Game won"
                            game = false
                        } else if (x1+1 == x2 && x1+2 == x3 && y1+1 == y2 && y1+2 == y3) {
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundImage = `url('{% static "projects/images/iconmonstr-line-one-horizontal-lined-240.png" %}')`
                            document.getElementById(String.fromCharCode(x1, y1)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x2, y2)).style.backgroundSize = "150%"
                            document.getElementById(String.fromCharCode(x3, y3)).style.backgroundSize = "150%"
                            warning.innerHTML = "Game won"
                            game = false
                        } else if (x1+1 == x2 && x1+2 == x3 && y1-1 == y2 && y1-2 == y3) {
                            warning.innerHTML = "Game won"
                            game = false
                        }
                    }
                }
            }
        }
    }

      function ticMove() {
        var empty = emptyFields()
        checkWinPattern(contentFields("o"))
        if (game) {
            if (empty.length != 0) {
                var field = Math.round(Math.random()*10)

                var availPattern = checkPattern(contentFields("x"))
                var defeat = checkPattern(contentFields("o"))
                
                if (availPattern.length != 0) {
                    document.getElementById(String.fromCharCode(availPattern[0][0], availPattern[0][1])).innerHTML = "x"
                    document.getElementById(String.fromCharCode(availPattern[0][0], availPattern[0][1])).style.backgroundImage = `url('{% static "projects/images/iconmonstr-x-mark-lined-240.png" %}')`
                } else if (defeat.length != 0) {
                    document.getElementById(String.fromCharCode(defeat[0][0], defeat[0][1])).innerHTML = "x"
                    document.getElementById(String.fromCharCode(defeat[0][0], defeat[0][1])).style.backgroundImage = `url('{% static "projects/images/iconmonstr-x-mark-lined-240.png" %}')`
                } else if (nextTicMove === 0) {
                    while (field >= empty.length) {
                        field = Math.round(Math.random()*10)
                    }
                    document.getElementById(String.fromCharCode(empty[field][0], empty[field][1])).innerHTML = "x"
                    document.getElementById(String.fromCharCode(empty[field][0], empty[field][1])).style.backgroundImage = `url('{% static "projects/images/iconmonstr-x-mark-lined-240.png" %}')`
                }
            } else {
                warning.innerHTML = "No fields left"
            }
            checkWinPattern(contentFields("x"))
        }
    }

    for (var x = 0; x < td.length; x++) {
        td[x].addEventListener("click", (e) => {
            if (game) {
                if (e.target.innerHTML != "x" && e.target.innerHTML != "o" ) {
                    warning.innerHTML = ""
                    e.target.innerHTML = "o"
                    e.target.style.backgroundImage = `url("{% static 'projects/images/iconmonstr-circle-lined-240.png' %}")`
                } else {
                    warning.innerHTML = "already selected"
                }
            }
            ticMove()
        })
    }

    </script>
  </body>
</html>
