#welcome-section {
    height: 100vh;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: var(--backCol);
}

#arrow-down {
    width: 4vw;
    margin: 0 auto;
    animation-name: bounce-2;
    animation-timing-function: ease;
    transform-origin: bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

::-webkit-scrollbar {
    width: 1em;
    z-index: 3;
}
::-webkit-scrollbar-track {
    background-color: #12043ebb;
    z-index: 3;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #875fff, #cab9ffa6);
    border-radius: 1vw;
    z-index: 3;
}
#welcome-wrap {
    margin: auto;
    width: 90%;
    z-index: 2;
}
.welcome {
    text-align: center;
    margin: auto;
    height: auto;
    width: 100%;
    font-size: 10vw;
    font-weight: 100;
    color: var(--blue);
    border-bottom: var(--blue) 0.3vw solid;
    z-index: 2; 
}
#welcome-2 {
    transform: scaleY(-1);
    border: none;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.part {
    width: 100%;
    height: auto;
    margin: 20vh auto 20vh auto;
    padding-bottom: 10vh;
    background-color: var(--blue);
    z-index: 3;
}
#intro {
    display: grid;
    grid-template: 
        "heading heading" auto
        "image text" auto
        /40% 60%;
}
#intro-p {
    grid-area: heading;
    width: 50%;
    margin: 0vh auto 5vh auto;
    font-size: 2.3em;
    text-align: center;
    padding-top: 5vh;
}
#intro-img {
    grid-area: image;
    justify-self: end;
    margin: 1vh 2vw 0 1vw;
    background-color: #12043E;
    height: 70vh;
}
#intro-text {
    grid-area: text;
    margin: 1vh 3vw 0 2vw;
    height: auto;
    background: #5d42ac75;
    padding: 2em;
    justify-self: start;
    font-size: 1.4em;
}
#contact {
    display: grid;
    grid-template: 
        "gmail-icon gmail" auto
        "phone-icon phone" auto
        "linkedin-icon linkedin" auto
        "certificate-icon certificate" auto
        /40% 60%;
    align-items: center;
    padding: 5vh 0 5vh 0;
    margin-top: 0;
    font-size: 1.5em;
}
#gmail-icon {
    grid-area: gmail-icon;
}
#gmail-text {
    grid-area: gmail;
}
#home-icon {
    grid-area: home-icon;
}
#home-text {
    grid-area: home;
}
#phone-icon {
    grid-area: phone-icon;
}
#phone-text {
    grid-area: phone;
}
#linkedin-icon {
    grid-area: linkedin-icon;
}
#linkedin-text {
    grid-area: linkedin;
}
#certificate-icon {
    grid-area: certificate-icon;
}
#certificate-text {
    grid-area: certificate;
}
.contact-icon {
    justify-self: right;
    height: auto;
    width: 5vh;
}
.contact-text {
    justify-self: left;
    height: auto;
}
.contact-icon, .contact-text {
    margin: 2vh 2vw 2vh 0;
}
.contact-text, .contact-text:visited {
    color: black;
    text-decoration: none;
}
#certificate-text:hover, #home-text:hover {
    text-decoration: underline;
}
#transition {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0vh;
    z-index: -1;
    background-attachment: scroll;
}
@media (max-width: 480px) {
    .part {
        margin: 10vh auto 10vh auto;
    }
    #intro {
        height: auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 30% auto;
        grid-template: 
            "image heading" 30%
            "text text" auto
            /50% 50%;
    }
    #intro-img {
        align-self: center;
        height: 80%;
        margin: auto;
        width: 90%;
    }
    #intro-p {
        margin: auto;
        padding: 0;
        font-size: 1.4em;
        text-align: left;
    }
    #intro-text {
        justify-self: center;
        width: 80%;
        padding: 1em;
        font-size: 1em;
        margin: 0 auto 20vh auto;
    }
    #contact {
        grid-template-columns: 20% 80%;
    }
    .contact-text {
        font-size: 0.7em;
    }
}